@font-face {
    font-family: tomatoes;
    src: url(tomatoes.ttf);
}

body{
    margin: 0;
    background-color: brown;
}

#content{
    background-color: brown;
    color: wheat;
}

.nav-list{
    padding:1rem 0;
    color: wheat;
    font-size: 1.4rem;
    margin: 0;
    list-style: none;

    display: flex;
    justify-content: space-around;
}

.header{
    text-align: center;
    font-family: "tomatoes";
    font-size: 4rem;
}

.welcome{
    text-align: center;
    font-family: "tomatoes";
    font-size: 3rem;
}

.banner{
    height: 400px;
    background: url(./banner.jpg) ;
    background-size: cover;

}

.description{
    font-family: sans-serif;
    font-size: 1.4rem;
    padding: 2rem 4rem;
    color: wheat;
}

footer{
    text-align: center;
    background-color: grey;
    font-size: 1.2rem;
    color: white;
    padding: 1rem 0;
}


/**MENU**/
.banner-menu{
    height: 250px;
    background:rgba(0,0,0,.50) url(./banner.jpg) ;
    background-size: cover;
    background-blend-mode: darken;   
}

.dishes{
    display: flex;
    flex-wrap: wrap;
    background-color: azure;
    justify-content: space-between;
}

.image-dish{
    background-color: violet;
    height: 300px;
    width: 450px;
}